* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 200ms linear;
}

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: white;
}
.date,
.greeting, .time, h2 {
  text-shadow: 1px 1px 2px black;
}
.date {
  cursor: default;
  opacity: 0.7;
}

.time {
  cursor: default;
}

.date:hover {
    opacity: 1;
}

.day, .month {
  font-size: 1.5rem;
}

.weekday {
  font-size: 2.5rem;
}

.time {
  font-size: 8rem;
}

h1 {
  margin-bottom: 3rem;
}

.focus, .name, input::placeholder  {
  display: inline;
  width: auto;
  color: white;
  border: none;
  background-color: transparent;
  width: fit-content;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  // opacity: 0.8;
}
.focus:focus, .name:focus {
  outline: none;
  border: 1px solid  rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.4);
}

.focus:active, .name:active, .focus:focus, .name:focus {
  border-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 700px) {
  .time {
    font-size: 6rem;
  }
}


input:focus::-webkit-input-placeholder { 
  color:transparent; 
  text-shadow: none;
}
input:focus:-moz-placeholder { 
  color:transparent; 
  text-shadow: none;
}
input:focus::-moz-placeholder { 
  color:transparent; 
  text-shadow: none;
}
input:focus:-ms-input-placeholder{ 
  color:transparent; 
  text-shadow: none;
}

