@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

html {
  font-size: 10px;
}

body {
  font-family: "Quicksand", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: white;
}

.date,
.greeting,
.time,
h2 {
  text-shadow: 1px 1px 2px black;
}

.date {
  cursor: default;
  opacity: 0.7;
}

.time {
  cursor: default;
  font-size: 10rem;
}

.date:hover {
  opacity: 1;
}

.day,
.month {
  font-size: 2.5rem;
}

.month-date {
  font-size: 3.5rem;
}

h1,
.name,
.name::-webkit-input-placeholder {
  margin-bottom: 3rem;
  font-size: 4.5rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

h1,
.name,
.name:-ms-input-placeholder {
  margin-bottom: 3rem;
  font-size: 4.5rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

h1,
.name,
.name::-ms-input-placeholder {
  margin-bottom: 3rem;
  font-size: 4.5rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

h1,
.name,
.name::placeholder {
  margin-bottom: 3rem;
  font-size: 4.5rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

h2,
.focus,
.focus::-webkit-input-placeholder {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  opacity: 0.9;
  text-shadow: 1px 1px 2px black;
}

h2,
.focus,
.focus:-ms-input-placeholder {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  opacity: 0.9;
  text-shadow: 1px 1px 2px black;
}

h2,
.focus,
.focus::-ms-input-placeholder {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  opacity: 0.9;
  text-shadow: 1px 1px 2px black;
}

h2,
.focus,
.focus::placeholder {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  opacity: 0.9;
  text-shadow: 1px 1px 2px black;
}

.weather {
  height: 24rem;
  margin: 1.5rem auto;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px black;
  opacity: 0.8;
  cursor: default;
}

.weather-icon {
  font-size: 10rem;
}

.temperature {
  font-size: 3.5rem;
  opacity: 1;
}

.city {
  cursor: text;
  font-size: 2.8rem;
  opacity: 0.9;
}

.weather:hover {
  opacity: 1;
}

.focus,
.name,
input::-webkit-input-placeholder {
  display: inline;
  width: auto;
  color: white;
  border: 1px solid transparent;
  background-color: transparent;
  width: -webkit-fit-content;
  width: fit-content;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 0.5rem;
}

.focus,
.name,
input:-ms-input-placeholder {
  display: inline;
  width: auto;
  color: white;
  border: 1px solid transparent;
  background-color: transparent;
  width: fit-content;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 0.5rem;
}

.focus,
.name,
input::-ms-input-placeholder {
  display: inline;
  width: auto;
  color: white;
  border: 1px solid transparent;
  background-color: transparent;
  width: fit-content;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 0.5rem;
}

.focus,
.name,
input::placeholder {
  display: inline;
  width: auto;
  color: white;
  border: 1px solid transparent;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 0.5rem;
}

.name,
.name::-webkit-input-placeholder {
  display: block;
  text-align: center;
}

.name,
.name:-ms-input-placeholder {
  display: block;
  text-align: center;
}

.name,
.name::-ms-input-placeholder {
  display: block;
  text-align: center;
}

.name,
.name::placeholder {
  display: block;
  text-align: center;
}

.focus:focus,
.name:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.4);
}

.focus:active,
.name:active,
.focus:focus,
.name:focus {
  border-color: rgba(0, 0, 0, 0.4);
}

.error {
  visibility: hidden;
  cursor: default;
  font-size: 3rem;
  color: red;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  text-shadow: 2px 2px 2px black;
  opacity: 1;
}

.error-img > svg {
  display: none;
  height: 23rem;
  width: auto;
  margin: auto;
  fill: white;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
  text-shadow: none;
}

input:focus:-moz-placeholder {
  color: transparent;
  text-shadow: none;
}

input:focus::-moz-placeholder {
  color: transparent;
  text-shadow: none;
}

input:focus:-ms-input-placeholder {
  color: transparent;
  text-shadow: none;
}

.background-block .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* Firefox 3.6+ */
  /* Safari 3.1+ и Chrome 4.0+ */
  /* Opera 9.6+ */
  background-size: 100%;
  /* Современные браузеры */
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: opacity 0.8s ease-in;
  transition: opacity 0.8s ease-in;
}

.background-block .bg.current {
  opacity: 1;
}

.background-block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -2;
}

k {
  background-image: url(./assets/images/day/08.jpg);
}
/*# sourceMappingURL=style.css.map */